# What makes a good athelete?

## Data cleaning, wrangling and merging

Data analysis of Olympic data from the Summer games. This file covers the data wrangling, cleaning and merging of the Olympic_Bio_Athlete.csv and Olympic_Athlete_Event_Results.csv data files to enable analysis of the peronal attributes that lead to successful atheltes.

## Background
The modern olympics see athletes competing in a wide range of sports. Visually there are numerous differences between athletes in each sport such as slight jumpers and powerful weightlifters but what makes Olympic medalists? This project will aim to investigate various factors that contributed to medal winners such as:
* height
* weight
* BMI
* age
* home Olympics
* population of country
* GDP of country
 
 This work will focus on 5 different sports:
* eventing
* 100 m
* marathon
* shot put
* high jump

### Import modules

In [176]:
import pandas as pd
import numpy as np

### Initial inspection of Olympic_Athlete_Bio.csv data

In [177]:
athlete_bio = pd.read_csv('Olympic_Athlete_Bio.csv')
print(athlete_bio.head())
print(athlete_bio.info())

   athlete_id                name     sex              born  height weight  \
0       65649       Ivanka Bonova  Female      4 April 1949   166.0     55
1      112510   Nataliya Uryadova  Female     15 March 1977   184.0     70
2      114973  Essa Ismail Rashed    Male  14 December 1986   165.0     55
3       30359         Péter Boros    Male   12 January 1908     NaN    NaN
4       50557      Rudolf Piowatý    Male     28 April 1900     NaN    NaN

               country country_noc  \
0             Bulgaria         BUL
1   Russian Federation         RUS
2                Qatar         QAT
3              Hungary         HUN
4       Czechoslovakia         TCH

                                         description  \
0                 Personal Best: 400 – 53.54 (1980).
1                                                NaN
2            Personal Best: 10000 – 27:20.97 (2006).
3  Between 1927 and 1938, Péter Boros competed as...
4  Rudolf Piowaty joined the Czechoslovak militar...

                                       special_notes
0                                                NaN
1  Listed in Olympians Who Won a Medal at the Eur...
2  Listed in Olympians Who Won a Medal at the Asi...
3                                                NaN
4                                                NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155861 entries, 0 to 155860
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155861 non-null  int64
 1   name           155861 non-null  object
 2   sex            155861 non-null  object
 3   born           151808 non-null  object
 4   height         105112 non-null  float64
 5   weight         105112 non-null  object
 6   country        155861 non-null  object
 7   country_noc    155861 non-null  object
 8   description    54863 non-null   object
 9   special_notes  60637 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.9+ MB
None

#### Notes
* There is a lot of data missing from the description and special_notes comments however, these are irrelvant to the investigations. 
* 2.6 % of entries are missing from the born column. The born column contains numerous types of answer.
* 32.6 % of entries are missing from the height and weight columns
* Weight has the wrong data type
* Is there a connection between entries with DOBs, weights and heights missing?

As this data will be looked at in connection with the athlete results, the two dataframes will be merged prior to data cleaning and wrangling.

### Initial inspection of Olympic_Athlete_Event_Results.csv data

In [178]:
athlete_results = pd.read_csv('Olympic_Athlete_Event_Results.csv')
print(athlete_results.head())
print(athlete_results.info())

                edition  edition_id country_noc      sport            event  \
0  1908 Summer Olympics           5         ANZ  Athletics  100 metres, Men
1  1908 Summer Olympics           5         ANZ  Athletics  400 metres, Men
2  1908 Summer Olympics           5         ANZ  Athletics  800 metres, Men
3  1908 Summer Olympics           5         ANZ  Athletics  800 metres, Men
4  1908 Summer Olympics           5         ANZ  Athletics  800 metres, Men

   result_id          athlete  athlete_id        pos medal  isTeamSport
0      56265  Ernest Hutcheon       64710        DNS   NaN        False
1      56313     Henry Murray       64756        DNS   NaN        False
2      56338    Harvey Sutton       64808  3 h8 r1/2   NaN        False
3      56338      Guy Haskins      922519        DNS   NaN        False
4      56338     Joseph Lynch       64735        DNS   NaN        False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB
None

#### Notes
* All of the columns appear to have the correct data type
* The only column missing data is the medal column which is to be expected as the majority of atheltes taking part will not earn a medal.

### Combination of athlete_bio and athlete_results dataframes, selection of summer olympics and data cleaning and wrangling
The combined data has been filtered to just the Summer Olympics and team sports have also been filtered out as these rely on the combined attributes of the team members.

In [179]:
combined_df = pd.merge(athlete_bio, athlete_results)
df_split = combined_df.edition.str.split(' ')
combined_df['Year'] = df_split.str.get(0)
combined_df['Year'] = combined_df['Year'].astype('int64')
combined_df['Olympics'] = df_split.str.get(1)

summer_olympics = combined_df[(combined_df.Olympics == 'Summer') & (combined_df.isTeamSport == False)]

summer_olympics['born'] = pd.to_datetime(summer_olympics['born'], errors="coerce").dt.year

print(summer_olympics.head())
print(summer_olympics.info())

   athlete_id                name   sex    born  height weight   country  \
3      114973  Essa Ismail Rashed  Male  1986.0   165.0     55     Qatar
4       30359         Péter Boros  Male  1908.0     NaN    NaN   Hungary
6       30359         Péter Boros  Male  1908.0     NaN    NaN   Hungary
7       30359         Péter Boros  Male  1908.0     NaN    NaN   Hungary
8       30359         Péter Boros  Male  1908.0     NaN    NaN   Hungary

  country_noc                                        description  \
3         QAT            Personal Best: 10000 – 27:20.97 (2006).
4         HUN  Between 1927 and 1938, Péter Boros competed as...
6         HUN  Between 1927 and 1938, Péter Boros competed as...
7         HUN  Between 1927 and 1938, Péter Boros competed as...
8         HUN  Between 1927 and 1938, Péter Boros competed as...

                                       special_notes  ... edition_id  \
3  Listed in Olympians Who Won a Medal at the Asi...  ...         53
4                                                NaN  ...         10
6                                                NaN  ...         10
7                                                NaN  ...         10
8                                                NaN  ...         10

                 sport                       event result_id  \
3            Athletics          10,000 metres, Men    257228
4  Artistic Gymnastics  Individual All-Around, Men     70092
6  Artistic Gymnastics         Floor Exercise, Men     70104
7  Artistic Gymnastics            Horse Vault, Men     70105
8  Artistic Gymnastics        Pommelled Horse, Men     70109

              athlete pos medal isTeamSport  Year  Olympics
3  Essa Ismail Rashed  20   NaN       False  2008    Summer
4         Péter Boros  19   NaN       False  1932    Summer
6         Péter Boros  19   NaN       False  1932    Summer
7         Péter Boros   9   NaN       False  1932    Summer
8         Péter Boros   5   NaN       False  1932    Summer

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 151558 entries, 3 to 312278
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     151558 non-null  int64
 1   name           151558 non-null  object
 2   sex            151558 non-null  object
 3   born           146311 non-null  float64
 4   height         108203 non-null  float64
 5   weight         108203 non-null  object
 6   country        151558 non-null  object
 7   country_noc    151558 non-null  object
 8   description    66192 non-null   object
 9   special_notes  69626 non-null   object
 10  edition        151558 non-null  object
 11  edition_id     151558 non-null  int64
 12  sport          151558 non-null  object
 13  event          151558 non-null  object
 14  result_id      151558 non-null  int64
 15  athlete        151558 non-null  object
 16  pos            151558 non-null  object
 17  medal          12332 non-null   object
 18  isTeamSport    151558 non-null  bool
 19  Year           151558 non-null  int64
 20  Olympics       151558 non-null  object
dtypes: bool(1), float64(2), int64(4), object(14)
memory usage: 24.4+ MB
None

C:\Users\cathe\AppData\Local\Temp\ipykernel_11596\3968488708.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summer_olympics['born'] = pd.to_datetime(summer_olympics['born'], errors="coerce").dt.year

#### Filtering the data has reduced the number of missing entries to:
* Born 0.5%
* Weight 11.4% 
* Height 11.4%

Do entries with missing data have any connection to each other?

In [180]:
summer_olympics_missing['born'] = summer_olympics['born'].fillna(value=3000)
summer_olympics_missing['height'] = summer_olympics['height'].fillna(value=3000)

summer_olympics_missing_dob = summer_olympics_missing[summer_olympics_missing.born == 3000]
print('DOB - Olympics:', summer_olympics_missing_dob.edition.value_counts())
print('DOB - Sport: ', summer_olympics_missing_dob.sport.value_counts())
print('DOB - Medal: ', summer_olympics_missing_dob.medal.value_counts())

summer_olympics_missing_height = summer_olympics_missing[summer_olympics_missing.height == 3000]
print('Height - Olympics:', summer_olympics_missing_height.edition.value_counts())
print('Height - Sport: ', summer_olympics_missing_height.sport.value_counts())
print('Height - Medal: ', summer_olympics_missing_height.medal.value_counts())

DOB - Olympics: edition
1900 Summer Olympics    851
1904 Summer Olympics    575
1924 Summer Olympics    529
1948 Summer Olympics    441
1908 Summer Olympics    362
1928 Summer Olympics    341
1896 Summer Olympics    246
1920 Summer Olympics    221
1956 Summer Olympics    199
1952 Summer Olympics    184
1960 Summer Olympics    161
1984 Summer Olympics    161
1912 Summer Olympics    154
1936 Summer Olympics    132
1932 Summer Olympics    128
1980 Summer Olympics    117
1988 Summer Olympics    111
1972 Summer Olympics     87
1964 Summer Olympics     66
1968 Summer Olympics     61
2008 Summer Olympics     54
1992 Summer Olympics     31
1976 Summer Olympics     29
1996 Summer Olympics      5
2000 Summer Olympics      1
Name: count, dtype: int64
DOB - Sport:  sport
Athletics              1496
Swimming                508
Artistic Gymnastics     459
Boxing                  343
Fencing                 335
Shooting                335
Wrestling               287
Art Competitions        287
Cycling Track           237
Weightlifting           124
Cycling Road            108
Tennis                   92
Ballooning               63
Diving                   61
Wushu                    50
Archery                  47
Kendo                    36
Sailing                  35
Judo                     35
Motorboating             34
Golf                     32
Equestrian Jumping       31
Waterskiing              26
Rowing                   21
Modern Pentathlon        20
Motorcycle Sports        17
Savate                   14
Lifesaving               13
Taekwondo                13
Fishing                  12
Bowling                  12
Equestrian Dressage      11
Automobile Racing         9
Equestrian Eventing       8
Equestrian Vaulting       8
Equestrian Driving        6
Gliding                   5
Table Tennis              4
Canoe Sprint              3
Artistic Swimming         2
Canne De Combat           2
Figure Skating            2
Croquet                   2
Canoe Marathon            1
Badminton                 1
Name: count, dtype: int64
DOB - Medal:  medal
Bronze    38
Silver    37
Gold      17
Name: count, dtype: int64
Height - Olympics: edition
2020 Summer Olympics    4575
1952 Summer Olympics    4133
1936 Summer Olympics    3625
1948 Summer Olympics    3500
1924 Summer Olympics    3401
1928 Summer Olympics    2938
1912 Summer Olympics    2851
1900 Summer Olympics    2319
1908 Summer Olympics    2249
1904 Summer Olympics    2130
1932 Summer Olympics    2003
1920 Summer Olympics    1840
1992 Summer Olympics    1665
1956 Summer Olympics    1543
1996 Summer Olympics    1097
1896 Summer Olympics     514
1988 Summer Olympics     497
1972 Summer Olympics     344
1984 Summer Olympics     328
1976 Summer Olympics     283
1960 Summer Olympics     272
2008 Summer Olympics     232
1964 Summer Olympics     217
2016 Summer Olympics     212
2012 Summer Olympics     159
1980 Summer Olympics     159
1968 Summer Olympics     126
2000 Summer Olympics     107
2004 Summer Olympics      36
Name: count, dtype: int64
Height - Sport:  sport
Athletics              8753
Artistic Gymnastics    6618
Swimming               4612
Art Competitions       3573
Shooting               2795
                       ...
Racquets                 10
Glíma                    10
Roque                     4
Canne De Combat           2
Aeronautics               1
Name: count, Length: 62, dtype: int64
Height - Medal:  medal
Bronze    973
Silver    907
Gold      830
Name: count, dtype: int64

The majority of the missing data seems to be from the earlier years. The data will therefore be filtered to include only the last 5 Olympic Games and the above analyses re-ran. This is also more representative of the current day as the dimensions of the body have changed over time. On doing this it was discovered that a lot of data was missing from 2020. This is likely due to the impact of COVID and therefore this year will also be ommited.

In [181]:
summer_olympics_trimmed = summer_olympics[(summer_olympics.Year >= 2004) & (summer_olympics.Year < 2020)]

print(summer_olympics_trimmed.info())
summer_olympics_5years['born'] = summer_olympics_trimmed['born'].fillna(value=3000)
summer_olympics_5years['height'] = summer_olympics_trimmed['height'].fillna(value=3000)
print(summer_olympics_5years.height.describe())

summer_olympics_5years_dob = summer_olympics_5years[summer_olympics_5years.born == 3000]
print('DOB - Olympics:', summer_olympics_5years_dob.edition.value_counts())
print('DOB - Sport: ', summer_olympics_5years_dob.sport.value_counts())
print('DOB - Medal: ', summer_olympics_5years_dob.medal.value_counts())

summer_olympics_5years_height = summer_olympics_5years[summer_olympics_5years.height == 3000]
print('Height - Olympics:', summer_olympics_5years_height.edition.value_counts())
print('Height - Sport: ', summer_olympics_5years_height.sport.value_counts())
print('Height - Medal: ', summer_olympics_5years_height.medal.value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 32684 entries, 3 to 312257
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   athlete_id     32684 non-null  int64
 1   name           32684 non-null  object
 2   sex            32684 non-null  object
 3   born           32630 non-null  float64
 4   height         32045 non-null  float64
 5   weight         32045 non-null  object
 6   country        32684 non-null  object
 7   country_noc    32684 non-null  object
 8   description    7158 non-null   object
 9   special_notes  19855 non-null  object
 10  edition        32684 non-null  object
 11  edition_id     32684 non-null  int64
 12  sport          32684 non-null  object
 13  event          32684 non-null  object
 14  result_id      32684 non-null  int64
 15  athlete        32684 non-null  object
 16  pos            32684 non-null  object
 17  medal          2806 non-null   object
 18  isTeamSport    32684 non-null  bool
 19  Year           32684 non-null  int64
 20  Olympics       32684 non-null  object
dtypes: bool(1), float64(2), int64(4), object(14)
memory usage: 5.3+ MB
None
count    32684.000000
mean       229.256578
std        391.415660
min        133.000000
25%        167.000000
50%        174.000000
75%        182.000000
max       3000.000000
Name: height, dtype: float64
DOB - Olympics: edition
2008 Summer Olympics    54
Name: count, dtype: int64
DOB - Sport:  sport
Wushu                  50
Artistic Gymnastics     2
Boxing                  1
Athletics               1
Name: count, dtype: int64
DOB - Medal:  Series([], Name: count, dtype: int64)
Height - Olympics: edition
2008 Summer Olympics    232
2016 Summer Olympics    212
2012 Summer Olympics    159
2004 Summer Olympics     36
Name: count, dtype: int64
Height - Sport:  sport
Athletics                188
Wushu                     89
Swimming                  84
Boxing                    65
Judo                      35
Artistic Gymnastics       34
Shooting                  25
Golf                      12
Fencing                   11
Table Tennis              11
Weightlifting             11
Canoe Sprint               9
Taekwondo                  8
Wrestling                  7
Cycling Road               7
Equestrian Dressage        5
Badminton                  5
Equestrian Jumping         4
Cycling Mountain Bike      4
Sailing                    4
Rowing                     3
Equestrian Eventing        3
Cycling Track              3
Tennis                     2
Archery                    2
Diving                     2
Marathon Swimming          1
Trampolining               1
Triathlon                  1
Cycling BMX Racing         1
Rhythmic Gymnastics        1
Canoe Slalom               1
Name: count, dtype: int64
Height - Medal:  medal
Silver    5
Gold      4
Bronze    3
Name: count, dtype: int64

* This data cleaning has resulted in only 0.17% of missing born data and 1.96% of missing height/weight data. 
* The missing data for born is mainly for Wushu which was a sport only at the Beijing Olympics in 2008
* As the data is missing at random then the rows containing missing infomation can be deleted.

In [182]:
summer_olympics_cleaned = summer_olympics_trimmed.dropna(subset=['born', 'height', 'weight'])
print(summer_olympics_cleaned.head())
print(summer_olympics_cleaned.info())
print(summer_olympics_cleaned.weight.unique())

    athlete_id                  name     sex    born  height weight  \
3       114973    Essa Ismail Rashed    Male  1986.0   165.0     55
13      133041      Vincent Riendeau    Male  1996.0   178.0     68
47      115157      Mariya Yakovenko  Female  1982.0   174.0     81
66      136267  Shadrack Kipchirchir    Male  1989.0   173.0     54
70      112346     Paul Etia Ndoumbè    Male  1984.0   182.0     78

                country country_noc                              description  \
3                 Qatar         QAT  Personal Best: 10000 – 27:20.97 (2006).
13               Canada         CAN                                      NaN
47   Russian Federation         RUS        Personal Best: JT – 62.23 (2007).
66        United States         USA                                      NaN
70             Cameroon         CMR                                      NaN

                                        special_notes  ... edition_id  \
3   Listed in Olympians Who Won a Medal at the Asi...  ...         53
13  Listed in Olympians Who Won a Medal at the Sum...  ...         59
47                                                NaN  ...         53
66                                                NaN  ...         59
70                                                NaN  ...         53

        sport                 event result_id               athlete      pos  \
3   Athletics    10,000 metres, Men    257228    Essa Ismail Rashed       20
13     Diving         Platform, Men    353784      Vincent Riendeau  14 r2/3
47  Athletics  Javelin Throw, Women    257805      Mariya Yakovenko  46 r1/2
66  Athletics    10,000 metres, Men    358638  Shadrack Kipchirchir       19
70     Rowing    Single Sculls, Men    260951     Paul Etia Ndoumbè       28

   medal isTeamSport  Year  Olympics
3    NaN       False  2008    Summer
13   NaN       False  2016    Summer
47   NaN       False  2008    Summer
66   NaN       False  2016    Summer
70   NaN       False  2008    Summer

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 32042 entries, 3 to 312257
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   athlete_id     32042 non-null  int64
 1   name           32042 non-null  object
 2   sex            32042 non-null  object
 3   born           32042 non-null  float64
 4   height         32042 non-null  float64
 5   weight         32042 non-null  object
 6   country        32042 non-null  object
 7   country_noc    32042 non-null  object
 8   description    7102 non-null   object
 9   special_notes  19691 non-null  object
 10  edition        32042 non-null  object
 11  edition_id     32042 non-null  int64
 12  sport          32042 non-null  object
 13  event          32042 non-null  object
 14  result_id      32042 non-null  int64
 15  athlete        32042 non-null  object
 16  pos            32042 non-null  object
 17  medal          2794 non-null   object
 18  isTeamSport    32042 non-null  bool
 19  Year           32042 non-null  int64
 20  Olympics       32042 non-null  object
dtypes: bool(1), float64(2), int64(4), object(14)
memory usage: 5.2+ MB
None
['55' '68' '81' '54' '78' '61' '58' '60' '57' '94' '77' '65' '72' '70'
 '90' '56' '45' '76' '67' '85' '142' '62' '88' '52' '84' '75' '117' '69'
 '63' '66' '50' '74' '73' '48-57' '80' '51' '105' '82' '97' '95' '40' '53'
 '92' '79' '59' '83' '93' '43' '48' '69-77' '125' '49' '118' '34' '109'
 '86' '120' '46' '64' '47' '124' '91' '89' '87' '103' '100' '158-160' '71'
 '115' '99' '74-75' '134' '36' '116' '62-73' '44' '96' '108' '154' '37'
 '130' '104' '140' '41' '110' '33' '52-62' '35' '98' '123' '102' '106'
 '101' '122' '39' '128' '139' '77-85' '143' '135' '92-95' '66-73' '121'
 '107' '119' '112' '63, 66' '54-56' '90-105' '93-104' '94-103' '42' '146'
 '131' '53-56' '107-136' '137' '68, 80' '84-96' '132-145' '55-59' '86, 90'
 '146-155' '127' '32' '136' '110-118' '144' '113' '160-170' '165' '133'
 '129' '104-128' '114' '152' '52-56' '115-120' '54-64' '111' '155-160'
 '58, 68' '67-76' '138' '125-129' '158' '82-84' '38' '163' '60-63' '147'
 '67-69' '105-109' '148' '97-105' '145' '101-125' '105-132' '64-75' '132'
 '126' '178' '54-57' '149-163' '77,5' '52-57' '175' '80, 86' '75-81' '160'
 '31' '76-77' '56\xa0' '62, 67' '62-68' '132-135' '67, 71' '140-142' '156'
 '72\xa0' '155' '130-133' '53-58' '58-62' '102, 105' '167' '125-127'
 '76-94' '60-66' '210-218' '70-87' '105-114' '198' '69-75' '150' '28'
 '95-110' '159-163' '68, 88' '78-103' '100, 104' '147-163' '98-102'
 '76, 83' '98-105' '127-129' '89-97' '158-168' '135-140' '52-53' '170'
 '142-158' '78, 80' '119-125' '149' '67, 72' '59-61' '68-69' '55-58' '151'
 '104-105' '105-113' '92-94' '112-122' '69-76' '67, 69' '49-53' '82-93'
 '99-101' '30' '67-74' '62-69']

It was noted that some athletes gave their weight as a range or multiple values. In order to make this data suitable for analysis, the average of these results will be collated. On inspecting the results through Pandas and excel an unusal weight of 77,5 was found for Nick Buckfield. A google search found that this is an error online suggesting that he is 775 kg. As a result this result will be deleted. Other google searches found \ax0 to be an error but the preceeding weight is correct. Therefore this will also be corrected in the results.

In [183]:
summer_olympics_cleaned = summer_olympics_cleaned[summer_olympics_cleaned.name != 'Nick Buckfield']
summer_olympics_cleaned['weight'] = summer_olympics_cleaned['weight'].replace('\xa0', '', regex=True)

summer_olympics_cleaned[['weight_low', 'weight_high']] = summer_olympics_cleaned['weight'].str.split('[-,]', expand=True)
summer_olympics_cleaned[['weight_low', 'weight_high']] = summer_olympics_cleaned[['weight_low', 'weight_high']].astype('float')
summer_olympics_cleaned = summer_olympics_cleaned.fillna(value={'weight_high':summer_olympics_cleaned.weight_low})


summer_olympics_final['weight_average'] = (summer_olympics_cleaned['weight_low'] + summer_olympics_cleaned['weight_high']) * 0.5

### Calculation weight, BMI and age

In [184]:
summer_olympics_final['BMI'] = summer_olympics_final['weight_average'] / ((summer_olympics_final['height']/100) ** 2) 
summer_olympics_final['Age'] = summer_olympics_final['Year'] - summer_olympics_final['born']

print(summer_olympics_final.head())
print(summer_olympics_final.height.describe())
print(summer_olympics_final.born.describe())

    athlete_id                  name     sex    born  height weight  \
3       114973    Essa Ismail Rashed    Male  1986.0   165.0     55
13      133041      Vincent Riendeau    Male  1996.0   178.0     68
47      115157      Mariya Yakovenko  Female  1982.0   174.0     81
66      136267  Shadrack Kipchirchir    Male  1989.0   173.0     54
70      112346     Paul Etia Ndoumbè    Male  1984.0   182.0     78

                country country_noc                              description  \
3                 Qatar         QAT  Personal Best: 10000 – 27:20.97 (2006).
13               Canada         CAN                                      NaN
47   Russian Federation         RUS        Personal Best: JT – 62.23 (2007).
66        United States         USA                                      NaN
70             Cameroon         CMR                                      NaN

                                        special_notes  ...      pos  medal  \
3   Listed in Olympians Who Won a Medal at the Asi...  ...       20    NaN
13  Listed in Olympians Who Won a Medal at the Sum...  ...  14 r2/3    NaN
47                                                NaN  ...  46 r1/2    NaN
66                                                NaN  ...       19    NaN
70                                                NaN  ...       28    NaN

   isTeamSport  Year  Olympics weight_low weight_high weight_average  \
3        False  2008    Summer       55.0        55.0           55.0
13       False  2016    Summer       68.0        68.0           68.0
47       False  2008    Summer       81.0        81.0           81.0
66       False  2016    Summer       54.0        54.0           54.0
70       False  2008    Summer       78.0        78.0           78.0

          BMI   Age
3   20.202020  22.0
13  21.461937  20.0
47  26.753864  26.0
66  18.042701  27.0
70  23.547881  24.0

[5 rows x 26 columns]
count    32041.000000
mean       174.008177
std         10.890268
min        133.000000
25%        167.000000
50%        174.000000
75%        182.000000
max        210.000000
Name: height, dtype: float64
count    32041.000000
mean      1983.828220
std          7.139961
min       1941.000000
25%       1980.000000
50%       1984.000000
75%       1989.000000
max       2002.000000
Name: born, dtype: float64

#### Saving modified database as a new csv file

In [185]:
summer_olympics_final.to_csv(r'athelte_results_bio.csv')